// 3rd-party Plugins
@import '~highlight.js/styles/googlecode.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// Theme Styles
@import './_metronic/_assets/sass/style.react.scss';

// Default Layout themes
// @import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// @import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
// @import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";

// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";

// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
// .brand-dark {
//   @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
// }
// // Light
// .brand-light {
//   @import "./_metronic/_assets/sass/themes/layout/brand/light.scss";
// }

// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
    background: none transparent !important;
    margin: 0 !important;
    padding-top: 0.5rem;
    code {
        overflow-y: auto;
        display: block;

        span {
            background: none transparent !important;
        }
    }
}

.json > pre {
    background: none #fff !important;
}

.example-code > .json {
    background: none #fff !important;
}

.symbol.symbol-45 > svg {
    width: 100%;
    max-width: 45px;
    height: 45px;
}

.react-bootstrap-table {
    overflow-x: auto;
}

.react-bootstrap-table {
    th {
        outline: none;

        &.sortable {
            .svg-icon-sort {
                opacity: 0;
            }

            &:hover {
                cursor: pointer;

                .svg-icon-sort {
                    opacity: 1;
                }
            }
        }
    }

    .table.table-head-custom thead tr {
        .sortable-active {
            color: $primary !important;
        }
    }
}

// .nav-link:focus {
//     outline: none;
// }

//property form begins
.propTypebtn {
    background-color: transparent !important;
}

.propTypebtn button {
    width: auto !important;
    margin-right: 1.2rem !important;
    background-color: #fff !important;
    padding: 1rem 4rem !important;
    height: 90px !important;
    text-transform: capitalize !important;
    font-weight: 500 !important;
    font-size: 20px;
    line-height: 20px;
    color: #5c6f73;
    border: 0 !important;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.propTypebtn .MuiToggleButton-root.Mui-selected,
.propSubTypebtn .MuiToggleButton-root.Mui-selected {
    color: #fff !important;
    background-color: #0180b6 !important;
}

.propSubTypebtn button {
    width: auto !important;
    height: 30px !important;
    border-radius: 5rem !important;
    padding: 5px 1rem !important;
    margin: 1rem;
    font-size: 16px !important;
    color: #5c6f73;
    text-transform: capitalize !important;
    border: 0 !important;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.custom-ml-auto {
    width: 250px !important;
    padding: 1rem 2rem !important;
    margin-left: auto !important;
}

.custom-upload-btn {
    // width: 420px !important;
    background-color: #0180b6 !important;
    border: 1px solid #0180b6 !important;
    // height: 200px !important;
    box-shadow: none !important;
    border-radius: 99rem !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    color: #fff !important;
    font-family: proxima-nova, sans-serif !important;
    font-weight: 600 !important;
    padding-bottom: 0 !important;
    cursor: pointer !important;
    -webkit-transition-property: color, border, background, -webkit-box-shadow !important;
    transition-property: color, border, background, -webkit-box-shadow !important;
    transition-property: color, border, box-shadow, background !important;
    transition-property: color, border, box-shadow, background,
        -webkit-box-shadow !important;
    -webkit-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
    -webkit-transition-timing-function: ease !important;
    transition-timing-function: ease !important;
}
.custom-upload-btn:hover {
    background-color: #eef0f8 !important;
    color: #0180b6 !important;
}

// .custom-upload-icon {
//     font-size: 50px !important;
//     color: grey !important;
// }

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    font-size: medium;
    font-weight: 600;
}

.color-gray {
    color: #5c6f73;
    font-size: 18px;
}
//property form ends

body,
html {
    font-family: proxima-nova, sans-serif !important;
}

body {
    color: #758d91;
}

.property-icon svg {
    font-size: 26px;
    color: #8fa3a7;
}

.back-icon svg {
    font-size: 20px;
    color: #0180b6;
    margin-top: -2px;
}

.MuiToggleButton-root.Mui-selected .property-icon svg {
    color: #fff !important;
}

.MuiFormHelperText-root.Mui-error {
    color: #fff !important;
    background: #d3583c;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-top: 1rem;
    // padding-left: 0.5rem;
    font-size: 14px !important;
}

.subtype-label p {
    font-size: 18px;
    font-weight: 600;
    color: #364143;
    line-height: 18px;
}

.subtype-label svg {
    margin-top: -5px;
    font-size: 30px !important;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-t-2 {
    margin-top: 2rem;
}
.margib-b-2 {
    margin-bottom: 2rem;
}

.prop-loc-text {
    color: #1c5663;
    font-size: 30px;
    font-weight: 500;
}

.MuiFilledInput-input {
    background: #fff !important;
    border-bottom: 0 !important;
    border-left: 3px solid #0190b4 !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    font-size: 16px !important;
    color: #5c6f73 !important;
    font-family: proxima-nova, sans-serif !important;
}

.MuiFilledInput-underline:after,
.MuiFilledInput-underline:before {
    border-bottom: none !important;
}

.input-text-big input[type='text'] {
    font-size: 16px !important;
    font-family: proxima-nova, sans-serif !important;
    color: #5c6f73 !important;
}

.next-btn {
    width: auto !important;
    color: #fff !important;
    padding: 0.2rem 0.4rem 0.1rem 1.5rem !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    font-family: proxima-nova, sans-serif !important;
    border-radius: 0.9rem !important;
    box-shadow: none !important;
    float: right;
}

.back-btn {
    width: auto !important;
    color: #fff !important;
    padding: 0.2rem 0.4rem 0.1rem 1.5rem !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    font-family: proxima-nova, sans-serif !important;
    border-radius: 0.9rem !important;
    box-shadow: none !important;
    float: right;
}

.next-btn-text {
    text-align: left !important;
    margin-bottom: -0.8rem !important;
}

.back-btn-text {
    text-align: left !important;
    margin-bottom: -1.8rem !important;
    font-family: proxima-nova, sans-serif !important;
}

.btn-next-icon svg {
    margin-top: 1.2rem !important;
    font-size: 1.8rem !important;
}

.text-small {
    width: auto !important;
    font-size: 16px !important;
    font-family: proxima-nova, sans-serif !important;
    min-width: 12rem;
    margin-top: -0.7rem !important;
    font-weight: 500 !important;
}

.b-text-small {
    font-size: 16px !important;
    font-family: proxima-nova, sans-serif !important;
    margin-top: -0.7rem !important;
    font-weight: 500 !important;
}

.font-size-16 {
    font-size: 16px !important;
    font-family: proxima-nova, sans-serif !important;
    line-height: 16px !important;
    font-weight: 400 !important;
}

.font-size-14 {
    font-size: 14px !important;
    font-family: proxima-nova, sans-serif !important;
    line-height: 14px !important;
    font-weight: 400 !important;
}

.p-r-2 {
    padding-right: 2rem !important;
}

.text-right {
    text-align: right !important;
}

.upload-area {
    width: 50%;
    background: #eef0f8;
    border: 0.2rem dashed #cbd4d6;
    height: 16rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.upload-area * {
    cursor: pointer;
}

#outlined-multiple-static {
    font-family: proxima-nova, sans-serif !important;
    font-size: 18px !important;
    line-height: 26px !important;
    color: #5c6f73 !important;
}

.MuiExpansionPanel-root:before {
    background-color: transparent !important;
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}

.custom-expansion-panel {
    padding: 0 1.7rem 0.8rem 1.7rem !important;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15) !important;
}

.custom-expansion-panel p {
    margin-bottom: 0 !important;
    font-weight: 600;
    color: #758d91;
}

.custom-checkbox .MuiTypography-body1 {
    font-family: proxima-nova, sans-serif !important;
    font-size: 14px !important;
    font-weight: 600;
    color: #758d91;
}

.additional-feat button {
    box-shadow: none !important;
    font-family: proxima-nova, sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #758d91 !important;
    margin: 1rem 0rem 1rem 0rem !important;
    text-align: left !important;
}

.additional-feat .MuiToggleButton-label {
    display: inline !important;
}

.additional-feat button:hover {
    background: transparent !important;
    color: #a5b5b9 !important;
}

.additional-feat .MuiToggleButton-root.Mui-selected {
    color: #0180b6 !important;
    background-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.header-title {
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: 32px !important;
    color: #1c5663 !important;
    font-family: proxima-nova, sans-serif !important;
}

.header-title svg {
    color: #2f91a7 !important;
    font-size: 39px !important;
    margin-top: -1rem;
}

.color-default {
    color: #0059ce !important;
}

.color-custom-gray {
    color: #6b7873 !important;
}

.img-container {
    height: 102px;
    position: relative !important;
    overflow: hidden;
    cursor: pointer;
}

.img-container img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: 0;
    cursor: pointer;
}

.listings-info h3,
.listings-info h6 {
    cursor: pointer;
}

.status-top-left {
    position: absolute !important;
    top: 10px;
    left: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 1.7rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    line-height: 0.7rem;
}

.status-pending {
    background: #0180b6;
    color: #fff;
}
.status-disapproved {
    background: #d3583c;
    color: #fff;
}
.status-active {
    background: yellowgreen;
    color: #fff;
}
.status-disabled {
    background: #e7846e;
    color: #fff;
}

.prop-footer-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-links {
    display: flex;
    flex-direction: row;
}

.action-links div:not(:last-child) {
    margin-right: 1.5rem;
}

.property-footer ul {
    list-style: none;
    justify-content: flex-start;
    padding: 0;
}

.property-card-footer {
    display: flex;
}

.property-card-footer li {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.property-card-footer h3 {
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-right: 1rem;
    line-height: 1.1rem;
}

.property-card-footer span {
    font-size: 1.2rem;
    color: #364143;
}

.property-card-footer .plan {
    background: #eaeeee;
    color: #364143;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.1rem !important;
    font-weight: 600;
}

.prop-footer-cta .btn-br:not(:last-child) {
    margin-right: 1rem;
}

.btn-br {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 99rem;
    font-weight: 600;
    line-height: 1.15;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition-property: color, border, background, -webkit-box-shadow;
    transition-property: color, border, background, -webkit-box-shadow;
    transition-property: color, border, box-shadow, background;
    transition-property: color, border, box-shadow, background,
        -webkit-box-shadow;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    border: 0.1rem solid #3cb6d3;
    color: #3cb6d3;
}

.btn-plans {
    background: #bbe1f1;
    border-color: #bbe1f1;
    color: #0c0c0c !important;
}

.btn-plans:hover {
    background: #0157cb;
    border-color: #0157cb;
    color: #fff !important;
}

.btn-leads {
    background: #008f9b;
    border-color: #008f9b;
    color: #fff !important;
}

.btn-leads:hover {
    background: #13a499;
    border-color: #13a499;
    color: #fff !important;
}

.more-action .dropdown-toggle {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: rgba(28, 86, 99, 0.6);
    border-radius: 50%;
    font-size: 2.2rem;
    color: #fff;
    border-color: transparent !important;
}

.more-action .dropdown-toggle svg {
    font-size: 2.2rem;
    text-align: center;
}

.more-action .dropdown-toggle:hover {
    background: rgba(28, 86, 99, 0.6) !important;
    color: #fff !important;
    border-color: transparent !important;
}

.more-action-list-item {
    color: #fff !important;
    cursor: default !important;
}

.more-action-list-item a {
    color: inherit;
}

.more-action-list-item a:hover,
.more-action-list-item a:hover > svg,
.more-action-list-item i:hover {
    color: rgb(190, 189, 189) !important;
}

.more-action-list-item .MuiListItemText-primary {
    font-size: 1.2rem !important;
    font-family: proxima-nova, sans-serif !important;
    font-weight: 500 !important;
}

.more-action-list-item svg,
.more-action-list-item i {
    color: #fff !important;
}

.more-action-list-item:hover {
    background: transparent !important;
    color: inherit !important;
}

.more-action-list-item .MuiListItemIcon-root {
    min-width: 40px !important;
}

.MuiListItem-gutters {
    padding-bottom: 0px !important;
    padding-top: 0 !important;
}

.edit-link i,
.edit-link a,
.view-link a {
    color: #758d91;
}

.preview-toolbar button {
    border-radius: 5rem;
}

.details-top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-top-header-left ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.details-top-header-right {
    display: flex;
    align-items: center;
}

.details-top-header-left li:not(:last-child) {
    padding-right: 1rem;
}

.details-top-header-left li:first-child {
    font-size: 2.4rem;
    font-weight: 600;
    color: #3cb6d3;
}

.details-top-header-left li:nth-child(2) {
    font-size: 2rem;
    font-weight: 500;
    color: #5c6f73;
    text-transform: capitalize;
}

.details-top-header-left li:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
}

.details-top-header-left li:nth-child(3) svg {
    margin-top: -3px;
    margin-right: 5px;
}

.details-top-header-left li + li:before {
    content: '\02022';
    display: inline-block;
    padding-right: 1rem;
    color: #a5b5b9;
}

.details-address-name {
    // margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.btn-contact-us {
    background: #fff;
    color: #d5583c;
    border-radius: 5rem;
    margin: 0 1.5rem;
    font-family: proxima-nova, sans-serif !important;
    padding-bottom: 2px !important;
    padding-top: 4px;
}

.btn-contact-us svg {
    margin-right: 0.5rem;
}

.not-approved-alert {
    margin-top: 2rem;
}

.alert-danger {
    background: #d3583c !important;
    padding-bottom: 0 !important;
}

.alert-dismissible .close {
    padding: 5px 8px;
    margin: 0.7rem 1rem;
    background: #a6452f !important;
    border-radius: 50% !important;
}

.alert-dismissible .close:hover {
    background: #fff !important;
}

.btn-details-edit {
    background: #8fa3a7;
    color: #fff;
    border-radius: 5rem;
}

.btn-details-edit:hover {
    color: #fff;
    background: #82979b;
}

.btn-details-edit i {
    color: #fff;
}

.carousel-item img {
    height: 413px !important;
}

.MuiTab-fullWidth {
    text-transform: capitalize !important;
}

.MuiTab-fullWidth:not(:last-child) {
    border-right: 0.1rem solid #eaeeee;
}

.MuiTab-wrapper {
    display: inline !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    font-family: proxima-nova, sans-serif !important;
}

.MuiTab-wrapper svg,
.MuiTab-wrapper i {
    margin-right: 0.6rem;
    font-size: 2rem !important;
    margin-top: 0.5rem !important;
}

.MuiTab-textColorPrimary.Mui-selected,
.MuiTab-textColorPrimary.Mui-selected i {
    color: #3cb6d3 !important;
}

.save-alert-header {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background: #cdecf3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-alert-header svg {
    color: #3cb6d3;
    font-size: 6rem;
    margin: 1.4rem;
}

.save-alert-body {
    margin-left: 2rem;
    margin-top: 1rem;
}

.save-alert-body h2 {
    color: #27788a;
    font-size: 1.2rem;
    font-weight: 500;
}

.save-alert-body p {
    font-size: 1.2rem;
    font-weight: 400;
}

.save-alert-card,
.view-map-card {
    cursor: pointer;
}

.property-about h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #5c6f73;
}

.about-info-highlighted {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 2rem;
    padding-bottom: 0;
    margin-bottom: 2.5rem;
    background: #f6f8f9;
}

ol,
ul {
    list-style: none;
}

.about-info-highlighted-item {
    display: flex;
    width: 50%;
    padding-bottom: 1.2rem;
}

.about-info-highlighted-item h4 {
    width: 14rem;
    font-weight: 500;
    color: #5c6f73;
    font-family: proxima-nova, sans-serif !important;
}

.about-info-highlighted-item p {
    color: #758d91;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: proxima-nova, sans-serif !important;
}

.property-description h3 {
    color: #5c6f73;
    padding-bottom: 1.2rem;
}

.property-description p {
    color: #758d91;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

.btn-report {
    border: 1px solid;
    border-color: #e8a799;
    color: #d3583c;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.btn-report i {
    color: #d3583c;
}

.btn-report:hover {
    border-color: #758d91;
}

.btn-report:hover > i {
    color: #758d91;
}

.custom-display-flex {
    display: flex;
    flex-direction: row;
}

.custom-display-flex .publish {
    padding: 0.5rem 1.2rem 1rem 0.1rem;
}

.more-action .dropdown-toggle.nav-link:after,
.more-action .dropdown-toggle.btn:after {
    margin-left: 0 !important;
    display: none !important;
    content: none !important;
}

.more-action .dropdown-toggle {
    border-radius: 50% !important;
}

.more-action .dropdown-menu {
    background: #27788a !important;
    margin-top: 5px !important;
    color: #fff !important;
}

.dropdown-menu.show:before {
    content: '';
    display: inline-block !important;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #27788a;
    position: absolute;
    top: -7px;
    right: 12px;
}

.dropdown-menu.show:after {
    content: '';
    display: inline-block !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #27788a;
    position: absolute;
    top: -6px;
    right: 13px;
}

.more-action .dropdown-menu a:hover {
    background: transparent !important;
    color: #758d91 !important;
}

.more-action .dropdown-item {
    color: #fff !important;
    font-size: 1.2rem !important;
}

.more-action .dropdown-item {
    padding-top: 0.1rem !important;
}

.more-action .dropdown-item:last-child {
    padding-bottom: 0.2rem !important;
}

.more-action .dropdown-item svg,
.more-action .dropdown-item i {
    color: #fff;
    margin-right: 1.7rem !important;
}

.more-action .dropdown-item a:hover,
.more-action .dropdown-item:hover * {
    color: #758d91 !important;
}

.show > .btn-primary.dropdown-toggle,
.more-action
    .btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled),
.more-action .btn.btn-primary:focus:not(.btn-text),
.more-action .btn.btn-primary.focus:not(.btn-text) {
    background: #27788a !important;
}

.more-action .dropdown-item:last-child > a {
    color: inherit !important;
}

.addons-top-left li:first-child {
    font-size: 16px;
    font-weight: 600;
    color: #364143;
}

.addons-top-left li:nth-child(2) {
    font-size: 16px;
}

.addons-top-left p {
    text-transform: capitalize;
}

.addons-top-left i {
    font-size: 10px;
    padding-right: 5px;
}

.addons-top-left .color-pending,
.color-pending * {
    color: #0180b6;
}

.addons-top-left .color-active,
.color-active * {
    color: yellowgreen;
}

.addons-top-left .color-disapproved,
.color-disapproved * {
    color: #d3583c;
}

.addons-header-01 .status {
    margin-bottom: 1px;
}

.addons-header-01 h1 {
    margin-bottom: 1px;
}

.plans-card-container {
    margin-top: 1.2rem;
    background: #4f859c;
    color: #fff;
    border-radius: 1.7rem 1.7rem 0 0;
    // text-align: center;
    padding-left: 6rem;
    padding-right: 6rem;
}

.plans-card-container .switcher {
    text-align: center;
}

.plans-card-container h2:first-child {
    color: #fff;
    padding-top: 2.4rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
}

.plans-card-container p:nth-child(2) {
    color: #cdecf3;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    line-height: 1.3;
    margin-bottom: 3rem;
}

.plans-card-container p strong {
    color: #fff;
}

.plans-card-container .switcher {
    margin-bottom: 5rem;
}

// .switcher {

// }

.addon-toggle-days {
    position: relative;
    display: block;
    background-color: #fff;
    border: 2px solid;
    border-radius: 99rem !important;
}

.addon-toggle-days button {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #009c90;
    font-weight: 600;
    cursor: pointer;
    font-family: proxima-nova, sans-serif !important;
    background-color: transparent;
    border: none !important;
    width: 8.2rem !important;
    height: 3rem !important;
}

.plans-card-container .addon-toggle-days:before {
    width: 8.65rem;
    height: 3rem;
    background: #0175c0;
}

.addon-toggle-days:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 99rem;
    background: #fff;
    // top: -0.15rem;
    width: 9.65rem;
    height: 3.2rem;
    background: #0175c0;
}

.addon-toggle-days:before,
.active-left,
.active-right {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.addon-toggle-days .MuiToggleButton-root.Mui-selected {
    background-color: transparent !important;
    color: #fff !important;
}

.addon-toggle-days--active-right:before {
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.plan-details {
    background-color: #fff;
    color: #1c5663;
    border-radius: 10px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 3rem 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.plan-details-header {
    text-align: center;
}

.plan-details-header h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.15;
    color: #1c5663;
}

.plan-details-header ul {
    display: flex;
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 12px;
    color: #2f91a7;
    text-transform: uppercase;
    padding: 0;
}

.plan-details-header ul li + li {
    padding-left: 1rem;
}

.plan-details-header ul li + li:before {
    position: relative;
    top: -0.1rem;
    content: '\02022';
    display: inline-block;
    color: #a5b5b9;
    padding-right: 1rem;
}

.below-header-price {
    font-size: 3.2rem;
    font-weight: 600;
    color: #1c5663;
}

.below-header-price sup {
    font-size: 2rem;
    color: #4f859c;
}

.plan-details-content {
    -webkit-box-flex: 1;
    flex: 1;
    margin: 3rem 0;
    color: #1c5663;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 1.1rem;
}

.plan-details-content ul {
    padding: 0;
    font-size: 1.3rem;
}

.plan-details-content li:not(:last-child) {
    margin-bottom: 1rem;
}

.plan-details-content li:before {
    content: '\02022';
    display: inline-block;
    margin-right: 0.5rem;
}

@media (min-width: 576px) {
    .plan-details .plan-details-footer .btn {
        width: 16rem;
        margin-left: auto;
        margin-right: auto;
    }
}

// .plan-details-footer {
//     width: 100%;
// }

.plan-details-footer .btn-primary {
    border-radius: 99rem;
    background-color: #8acfe0;
    color: #1c5663;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: proxima-nova, sans-serif !important;
    border: 0;
    text-transform: capitalize;
    line-height: 1;
}

.current-plan-badge {
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.4rem;
    background: #3cd3a3;
    color: #fff;
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.btn-primary.change-plan {
    background-color: #27788a;
    color: #fff;
}

.cart-next-container {
    display: flex;
    justify-content: flex-end;
}

.cart-next-btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 20rem;
    height: 5rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 0.9rem;
    background: #3cd3a3;
    text-align: left;
    color: #fff;
    cursor: pointer;
}

.proceed-payment-container {
    -webkit-box-flex: 1;
    flex: 1;
    margin-right: 2rem;
    margin-top: 1rem;
}

.proceed-payment-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.proceed-payment-icon {
    font-size: 1.8rem !important;
    // margin-top: -1rem;
}

.plans-card-container--has-selection
    .plan-details:not(.plan-details--selected) {
    // display: block;
    opacity: 0.75;
}

.plan-details.plan-details--selected {
    border: 0.4rem solid #27788a !important;
    -webkit-box-shadow: 0 0.2rem 0.8rem rgba(28, 86, 99, 0.3);
    box-shadow: 0 0.2rem 0.8rem rgba(28, 86, 99, 0.3);
    border-radius: 1.35rem;
}
